doctype html
html(ng-app="app")
  head
    meta(charset="UTF-8")
    title App
    link(rel="stylesheet" href="css/vendor.min.css")
    //- link(rel="stylesheet" href="css/angular-notify.min.css")
    link(rel="stylesheet", href="css/main.css")
  body

    div.container.padmin
      header
        nav.navbar.navbar-inverse(role='navigation')
          .navbar-header
              a.navbar-brand(ui-sref='public.main') ADM'15
            div(ng-controller='topMenuCtrl as topmenu')
              ul.nav.navbar-nav(ng-if='topmenu.isLoggedIn')
                li
                  a(ui-sref='user.home') User.home
                li
                  a(ui-sref='user.data') User.data
              button.btn.btn-sm.btn-success.btn-logout(ng-click='topmenu.logout()',ng-if='topmenu.isLoggedIn') Выйти

      div(ui-view)
      footer

    //- dev libs
    //- script(src='../../bower_components/jquery/dist/jquery.js')
    //- script(src='../../bower_components/angular/angular.js')
    //- script(src='../../bower_components/angular-resource/angular-resource.js')
    //- script(src='../../bower_components/ui-router/release/angular-ui-router.js')

    //- dev angular

    //- script(src='../../src/js/main.js')

    //- script(src='../../src/js/services/rest.js')

    //- script(src='../../src/js/controllers/home.js')
    //- script(src='../../src/js/controllers/data.js')

    //- script(src='../../src/js/directives/my-customer.js')

    script(src='../../builds/development/js/libs.js')
    script(src='../../builds/development/js/scripts.js')
