.row
  .col-md-12
    h4 home

.row
  .col-md-12
    p test {{home.test}}
    p Directives
    <my-customer></my-customer>

.row
  .col-md-12
    h4 Пользователи
    div(ng-repeat="user in home.users") {{user.id}} | {{user.email}} | {{user.role}}

.row
  .col-md-12
    button.btn.btn-sm.btn-success(ng-click="home.logout()") Выйти
