.row
  .col-md-12
    h4 home

.row
  .col-md-12
    p test {{home.test}}
    p Directives
    <my-customer></my-customer>

.row
  .col-md-12
    h4 Пользователи
    div(ng-repeat="user in home.users") {{user.id}} | {{user.email}}

h4 signup [POST]
.row
  .col-md-12
    form(role='form')
      .form-group
        label(for='email') Email address
        input#email.form-control(ng-model='form.email', type='email', name='email', placeholder='Enter email')
      .form-group
        label(for='pass') Password
        input#pass.form-control(ng-model='form.pass', type='password', name='pass', placeholder='Password')

      button.btn.btn-default(ng-click="home.signup(form)") Submit
    //- button.btn.btn-default(type='submit') Submit
.row
  .col-md-12 {{home.signupEnd}}
