.row
  .col-md-12
    h4 Регистрация
.row
  .col-md-12
    form(role='form')
      .form-group
        label(for='email') Email address
        input#email.form-control(ng-model='form.email', type='email', name='email', placeholder='Enter email')
      .form-group
        label(for='pass') Password
        input#pass.form-control(ng-model='form.pass', type='password', name='pass', placeholder='Password')

      button.btn.btn-success(ng-click="signup.signup(form)" ng-disabled="!form.email || !form.pass") Зарегистрироваться
